.hello{
  position: relative;
  top: 85px;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(241,241,241,0.1);
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 1.3vw; 
  height: 70vh;
  padding: 10px 20px;
  margin: 50px 0px 25vh 0px; 
}
.hand{
  position: relative;
  margin: 0px 10px;
  height: 20px;
  animation-name: wave;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-out;
}@keyframes wave{
  from {transform: rotate(15deg);}
  to {transform: rotate(45deg);}
}
.hi{
  display: inline-flex;
  font-family: 'Tomorrow', sans-serif;
  font-size: 30px;
  font-weight: bold;
  padding: 0px 0px 15px 0;
}
.userimg{
  height: 200px;
  width: auto;
  border-radius: 100px;
  margin: 10px 0;
  box-shadow: 0px 0px 12px 6px rgb(128 123 123 / 67%);
  object-fit: contain;
  transition: height 0.5s;
}
.userimg:hover{
  opacity: 0.9;
  height: 202px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


@media only screen and (max-width: 600px) {
   .hi{
    font-size: 23px;
  }

}



