@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
.admin{
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: auto;
    background-color: black;
    color: white;
    font-size: 1vw;
  font-family: "Montserrat";
}
.abox{
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
	border: 0px solid white;
	box-shadow: 0px 0px 13px 0px;
	height: 50vh;
	width: 50%;
	margin: auto;
	padding: 20px 0px 30px 0px;
}
.in{
	margin-bottom: 20px;
}
.f4{
    font-size: 1.5em;
}
.pa2{
    padding: 10px;
}
.w-70{
    width: 70%;
}
.f4:hover{
    color: white;
    background-color: black;
}
.a4{
    /* margin-bottom: 30px; */
    font-size: 2em;
}
@media only screen and (max-width: 600px) {
    .abox {
        width: 80vw;
        height: 79em;
    }
   .f4{
    font-size: 5em;
   }
}
@media only screen and (max-height: 500px) {
   .pa2{
    padding: 0px;
    height: 2em;
   }
   .a4{
    margin-bottom: 0px;
   }
}