@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
.Mcontainer{
    display: flex;
    justify-content: center;
    font-family: 'Urbanist', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: black;
    position: relative;
    top: 15vh;
    font-style: unset;
}
.Mbox{
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70vw;
  height: auto;
  border: 0px;
  border-radius: 20px;
  box-shadow: -19px 20px 20px 2px;
  font-size: 1.1em;
  color: black;
  background: #19a974;
  padding: 25px 0px;
  height: 76vh;
}
.Mname{
  margin: 15px 30px;
  color: black;
}
.Mmessage{
  margin: 20px 30px 30px 20px;
  padding: 10px 10px 5px 20px;
  display: flex;
  background: white;
  min-height: 25vh;
  max-height: fit-content;
  width: -webkit-fill-available;
  box-shadow: inset 0px 0px 9px 0px;
  font-size: 1.1em;
  color: black;
  overflow: auto;
}
.Mtime{
  margin: 10px 20px;
  display: flex;
  align-items: flex-end;
  color: black;
}
.grid-wrap{
  display: flex;
  flex-direction: column;
  color: black;
}

@media only screen and (max-width: 600px) {
   .Mbox{
    width: 85%;
   }
   .Mmessage{
   padding: 30px 18px 15px 18px;
   }

}