@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap');
.Mcontainer{
     /*the most trusted willbe*/
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    /*grid-template-rows: repeat(auto-fill,minmax(200px,1fr));*/
    display: flex;
    justify-content: center;
    font-family: 'Urbanist', sans-serif;
    font-weight: bold;
    color: black;
    position: relative;
    top: 20vh;
}



.green{
    background: #56B870; /* Old browsers */
}

.Mbox{
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70vw;
  height: auto;
  border: 0px;
  border-radius: 20px;
  box-shadow: -19px 20px 20px 2px;
  font-size: 1.1em;
}
.Mname{
  margin: 15px 30px;
}
.Mmessage{
  margin: 20px 30px 30px 20px;
  padding: 10px 10px 10px 20px;
  display: flex;
  background: white;
  min-height: 30vh;
  max-height: fit-content;
  width: -webkit-fill-available;
  box-shadow: inset 0px 0px 9px 0px;
  font-size: 1.2em;
}
.Mtime{
  margin: 10px 20px;
  display: flex;
  align-items: flex-end;
}
.grid-wrap{
  display: flex;
  flex-direction: column;
}