.experience{
  display:flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 60px;
  background-color: rgba(255,255,255,1);
  color: black;/*text color*/
  font-family: "Poppins", sans-serif;
  font-size: 1.3vw; /*viewport width vw for responsive text*/
  font-style: italic;
  height: 100vh;
  padding: 20px;/*space b/w text and border*/
  margin: auto; /*space from outside the border*/
}
.etitle{
  font-family:  'MuseoModerno', cursive;
  font-size: 15vw;
  text-align: center;

  padding: 10px;
}